
.metadata/.ide.log
.metadata/.lock
.metadata/.log
.metadata/.log4j.xml
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.0.100.202111091238
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_adc.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_adc_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_cortex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_def.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_dma.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_dma_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_exti.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_flash.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_flash_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_flash_ramfunc.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_gpio.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_gpio_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_i2c.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_i2c_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_pwr.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_pwr_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_rcc.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_rcc_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_rtc.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_rtc_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_spi.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_tim.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_tim_ex.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_hal_uart.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Inc_stm32f4xx_ll_adc.h.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_adc.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_adc_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_cortex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_dma.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_dma_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_exti.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_flash.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_flash_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_flash_ramfunc.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_gpio.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_i2c.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_i2c_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_pwr.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_pwr_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_rcc.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_rcc_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_rtc.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_rtc_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_spi.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_tim.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_tim_ex.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_hal_uart.c.sisc
Core/Untitled Project11.si4project/cache/parse/.._Drivers_STM32F4xx_HAL_Driver_Src_stm32f4xx_ll_adc.c.sisc
Debug/Core/Src/dwt_stm32_delay.d
Debug/Core/Src/dwt_stm32_delay.o
Debug/Core/Src/dwt_stm32_delay.su
Debug/Core/Src/main.d
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_hal_msp.d
Debug/Core/Src/stm32f4xx_hal_msp.o
Debug/Core/Src/stm32f4xx_hal_msp.su
Debug/Core/Src/stm32f4xx_it.d
Debug/Core/Src/stm32f4xx_it.o
Debug/Core/Src/stm32f4xx_it.su
Debug/Core/Src/subdir.mk
Debug/Core/Src/syscalls.d
Debug/Core/Src/syscalls.o
Debug/Core/Src/syscalls.su
Debug/Core/Src/sysmem.d
Debug/Core/Src/sysmem.o
Debug/Core/Src/sysmem.su
Debug/Core/Src/system_stm32f4xx.d
Debug/Core/Src/system_stm32f4xx.o
Debug/Core/Src/system_stm32f4xx.su
Debug/Core/Src/vfdn_acsv.d
Debug/Core/Src/vfdn_acsv.o
Debug/Core/Src/vfdn_acsv.su
Debug/Core/Src/vfdn_adc.d
Debug/Core/Src/vfdn_adc.o
Debug/Core/Src/vfdn_adc.su
Debug/Core/Src/vfdn_com.d
Debug/Core/Src/vfdn_com.o
Debug/Core/Src/vfdn_com.su
Debug/Core/Src/vfdn_io_cntl.d
Debug/Core/Src/vfdn_io_cntl.o
Debug/Core/Src/vfdn_io_cntl.su
Debug/Core/Src/vfdn_roe.d
Debug/Core/Src/vfdn_roe.o
Debug/Core/Src/vfdn_roe.su
Debug/Core/Src/vfdn_rtc.d
Debug/Core/Src/vfdn_rtc.o
Debug/Core/Src/vfdn_rtc.su
Debug/Core/Src/vfdn_spi.d
Debug/Core/Src/vfdn_spi.o
Debug/Core/Src/vfdn_spi.su
Debug/Core/Src/vfdn_sub.d
Debug/Core/Src/vfdn_sub.o
Debug/Core/Src/vfdn_sub.su
Debug/Core/Startup/startup_stm32f407vetx.d
Debug/Core/Startup/startup_stm32f407vetx.o
Debug/Core/Startup/subdir.mk
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_adc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_adc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_adc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_adc_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_adc_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_adc_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_spi.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_spi.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_spi.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_ll_adc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_ll_adc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_ll_adc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
Debug/makefile
Debug/objects.list
Debug/objects.mk
Debug/sources.mk
Debug/vfdn_autopp_controller.map
Debug/vfdn_autopp_controller.list
Debug/vfdn_autopp_controller.elf
Debug/vfdn_autopp_controller.bin
Core/Untitled Project11.si4project/Untitled Project11.sip_xr
Core/Untitled Project11.si4project/Untitled Project11.sip_xm
Core/Untitled Project11.si4project/Untitled Project11.sip_xf
Core/Untitled Project11.si4project/Untitled Project11.sip_xc
Core/Untitled Project11.si4project/Untitled Project11.sip_xad
Core/Untitled Project11.si4project/Untitled Project11.sip_xab
Core/Untitled Project11.si4project/Untitled Project11.sip_sym
Core/Untitled Project11.si4project/Untitled Project11.SearchResults
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_sub.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_spi.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_rtc.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_roe.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_io_cntl.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_com.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_vfdn_adc.c.sisc
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.settings/language.settings.xml
.settings/language.settings.xml
.settings/language.settings.xml
Core/Src/aa.si4project/aa.siproj_settings.xml
Core/Src/sewing.si4project/sewing.siproj_settings.xml
Core/Src/Untitled Project.si4project/Untitled Project.siproj_settings.xml
Core/Untitled Project11.si4project/cache/parse/Inc_dwt_stm32_delay.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_main.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_stm32f4xx_hal_conf.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_stm32f4xx_it.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_acsv.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_adc.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_com.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_io_cntl.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_roe.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_rtc.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_servo.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_spi.h.sisc
Core/Untitled Project11.si4project/cache/parse/Inc_vfdn_sub.h.sisc
Core/Untitled Project11.si4project/cache/parse/Src_dwt_stm32_delay.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_main.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_stm32f4xx_hal_msp.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_stm32f4xx_it.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_syscalls.c.sisc
Core/Untitled Project11.si4project/cache/parse/Src_sysmem.c.sisc
